* {
    padding: 0;
    margin: 0;
}

.body {
    background-color: #4d86f1;
}

/* constraste */
.body.constraste {
    background-color: black;
}

.form.constraste .boton {
    background-color: black;
    color: white;
}

.form.constraste small,
.form.constraste .titulo {
    color: black;
}

.form.constraste input,
.form.constraste textarea,
.form.constraste select,
.form.constraste input[type="color"]{
    border-color: black;
}

.tabla.constraste th {
    background-color: black;
    color:white;
}

.tabla.constraste .eliminar,
.tabla.constraste .actualizar {
    background-color: black;
    color:white;
}

.form.constraste button,
.body.constraste .navbar button {
    background-color: black;
    color: white;
}

/* tamaño letra*/

.grande .tabla tr td,
.grande .tabla th {
    font-size: 18px;
}

.extra-grande .tabla tr td,
.extra-grande .tabla th {
    font-size: 22px;
}

.grande .navbar button {
    font-size: 18px;
}


.extra-grande .navbar button {
    font-size: 22px;
}

.grande .form label,
.grande .form input,
.grande .form select,
.grande .form textarea {
    font-size: 18px;
}

.extra-grande .form label,
.extra-grande .form input,
.extra-grande .form select,
.extra-grande .form textarea,
.extra-grande .form button{
    font-size: 22px;
}

.grande .form .titulo {
    font-size: 28px;
}

.extra-grande .form .titulo {
    font-size: 30px;
}
/* form */

.form {
    padding: 10px;
    margin: 10px auto;
    width: 60%;
    background-color: white;
    border-radius: 5px;
}

.form input, 
.form textarea, 
.form select {
    display: block;
    width: 80%;
    padding: 5px;
    margin: 10px auto;
    outline: none;
}

.form input, textarea {
    border: none;
    border-bottom: 1px solid #4d86f1;
}

.form input[type="checkbox"] {
    margin: 0px;
    width: auto;
    background-color: rebeccapurple;
}

.form input[type="color"],
.form select {
    border: 1px solid #4d86f1;
    background-color: white;
}

.form label {
    display: block;
    width: 80%;
    margin: 10px auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}


.form small {
    display: block;
    width: 80%;
    margin: 5px auto;
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
}

.boton {
    display: block;
    background-color: #4d86f1;
    border: none;
    padding: 10px;
    width: 80%;
    margin: 10px auto;
    color: white;
    text-align: center;
}

.boton:hover {
    display: block;
    background-color: #2f5fb9;
    border: none;
    padding: 10px;
    width: 80%;
    margin: 10px auto;
    color: white;
    text-align: center;
}

.boton:disabled {
    background-color: #3318ac;
    color: gainsboro;
}

.check {
    display: block;
    margin: 10px auto;
    width: 80%;
}

.check input,
.check label{
    display: inline;
    margin: 0px 10px;
}

.titulo {
    text-align: center;
    color: #2f5fb9;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px 0px;
}

/* tabla */

.tabla {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

.tabla th {
    padding: 10px;
    background-color: #7991e0;
}

.tabla tr td {
    padding: 5px;
    background-color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.eliminar {
    border: none;
    background-color: #da4040;
    color: #fff;
    padding: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.actualizar {
    border: none;
    background-color: #4d86f1;
    color: #fff;
    padding: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.eliminar:hover {
    background-color: #c22237;
}

.boton.esconder {
    display: none;
}

/* navbar */

.navbar {
    background-color: white;
    padding: 10px;
}

.navbar button {
    background-color: #4d86f1;
    padding: 5px 10px;
    border: none;
    color: white;
}

.navbar .btn-constrase {
    background-color: black;
    padding: 5px 10px;
    border: none;
    color: white;
}